/* chrome-tabs.css */

    
.chrome-tabs {
    box-sizing: border-box;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    width: 100%;
    height: 46px;
    padding: 8px 3px 4px 3px;
    background: #dee1e6;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  .chrome-tabs * {
    box-sizing: inherit;
    font: inherit;
  }
  .chrome-tabs .chrome-tabs-content {
    position: relative;
    /*
    This is a useful function in CSS, it's called 'calc', and despite what you
    may guess based on the name, it is a calculator. You can do arithmetic on
    any different CSS units.
    */
    width: calc(100% - 24px);
    height: 100%;
  }
  .chrome-tabs .chrome-tab {
    position: absolute;
    left: 0;
    height: 36px;
    width: 240px;
    border: 0;
    margin: 0;
    z-index: 1;
    pointer-events: none;
  }
  .chrome-tabs .chrome-tab,
  .chrome-tabs .chrome-tab * {
    user-select: none;
    cursor: default;
  }
  .chrome-tabs .chrome-tab .chrome-tab-dividers {
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: var(--tab-content-margin);
    right: var(--tab-content-margin);
  }
  .chrome-tabs .chrome-tab .chrome-tab-dividers,
  .chrome-tabs .chrome-tab .chrome-tab-dividers::before,
  .chrome-tabs .chrome-tab .chrome-tab-dividers::after {
    pointer-events: none;
  }
  .chrome-tabs .chrome-tab .chrome-tab-dividers::before,
  .chrome-tabs .chrome-tab .chrome-tab-dividers::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #a9adb0;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  .chrome-tabs .chrome-tab .chrome-tab-dividers::before {
    left: 0;
  }
  .chrome-tabs .chrome-tab .chrome-tab-dividers::after {
    right: 0;
  }
  .chrome-tabs .chrome-tab:first-child .chrome-tab-dividers::before,
  .chrome-tabs .chrome-tab:last-child .chrome-tab-dividers::after {
    opacity: 0;
  }
  .chrome-tabs .chrome-tab .chrome-tab-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  .chrome-tabs .chrome-tab .chrome-tab-background > svg {
    width: 100%;
    height: 100%;
  }
  .chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-geometry {
    fill: #f4f5f6;
  }
  .chrome-tabs .chrome-tab[active] {
    z-index: 5;
  }
  .chrome-tabs .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry {
    fill: #fff;
  }
  .chrome-tabs .chrome-tab:not([active]) .chrome-tab-background {
    transition: opacity 0.2s ease;
    opacity: 0;
  }
  @media (hover: hover) {
    .chrome-tabs .chrome-tab:not([active]):hover {
      z-index: 2;
    }
    .chrome-tabs .chrome-tab:not([active]):hover .chrome-tab-background {
      opacity: 1;
    }
  }
  .chrome-tabs .chrome-tab.chrome-tab-was-just-added {
    top: 10px;
    animation: chrome-tab-was-just-added 120ms forwards ease-in-out;
  }
  .chrome-tabs .chrome-tab .chrome-tab-content {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: var(--tab-content-margin);
    right: var(--tab-content-margin);
    padding: 9px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    pointer-events: all;
  }
  .chrome-tabs .chrome-tab[is-mini] .chrome-tab-content {
    padding-left: 2px;
    padding-right: 2px;
  }
  .chrome-tabs .chrome-tab .chrome-tab-favicon {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    height: 16px;
    width: 16px;
    background-size: 16px;
    margin-left: 4px;
  }
  .chrome-tabs .chrome-tab[is-small] .chrome-tab-favicon {
    margin-left: 0;
  }
  .chrome-tabs .chrome-tab[is-mini]:not([active]) .chrome-tab-favicon {
    margin-left: auto;
    margin-right: auto;
  }
  .chrome-tabs .chrome-tab[is-mini][active] .chrome-tab-favicon {
    display: none;
  }
  .chrome-tabs .chrome-tab .chrome-tab-title {
    flex: 1;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 4px;
    color: #5f6368;
    -webkit-mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
    mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
  }
  .chrome-tabs .chrome-tab[is-small] .chrome-tab-title {
    margin-left: 0;
  }
  .chrome-tabs .chrome-tab .chrome-tab-favicon + .chrome-tab-title,
  .chrome-tabs .chrome-tab[is-small] .chrome-tab-favicon + .chrome-tab-title {
    margin-left: 8px;
  }
  .chrome-tabs .chrome-tab[is-smaller] .chrome-tab-favicon + .chrome-tab-title,
  .chrome-tabs .chrome-tab[is-mini] .chrome-tab-title {
    display: none;
  }
  .chrome-tabs .chrome-tab[active] .chrome-tab-title {
    color: #45474a;
  }
  .chrome-tabs .chrome-tab .chrome-tab-drag-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .chrome-tabs .chrome-tab .chrome-tab-close {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(0, 0, 0, .65)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8px 8px;
  }
  @media (hover: hover) {
    .chrome-tabs .chrome-tab .chrome-tab-close:hover {
      background-color: #e8eaed;
    }
    .chrome-tabs .chrome-tab .chrome-tab-close:hover:active {
      background-color: #dadce0;
    }
  }
  @media not all and (hover: hover) {
    .chrome-tabs .chrome-tab .chrome-tab-close:active {
      background-color: #dadce0;
    }
  }
  @media (hover: hover) {
    .chrome-tabs .chrome-tab:not([active]) .chrome-tab-close:not(:hover):not(:active) {
      opacity: 0.8;
    }
  }
  .chrome-tabs .chrome-tab[is-smaller] .chrome-tab-close {
    margin-left: auto;
  }
  .chrome-tabs .chrome-tab[is-mini]:not([active]) .chrome-tab-close {
    display: none;
  }
  .chrome-tabs .chrome-tab[is-mini][active] .chrome-tab-close {
    margin-left: auto;
    margin-right: auto;
  }
  @-moz-keyframes chrome-tab-was-just-added {
    to {
      top: 0;
    }
  }
  @-webkit-keyframes chrome-tab-was-just-added {
    to {
      top: 0;
    }
  }
  @-o-keyframes chrome-tab-was-just-added {
    to {
      top: 0;
    }
  }
  @keyframes chrome-tab-was-just-added {
    to {
      top: 0;
    }
  }
  .chrome-tabs.chrome-tabs-is-sorting .chrome-tab:not(.chrome-tab-is-dragging),
  .chrome-tabs:not(.chrome-tabs-is-sorting) .chrome-tab.chrome-tab-was-just-dragged {
    transition: transform 120ms ease-in-out;
  }
  .chrome-tabs .chrome-tabs-bottom-bar {
    position: absolute;
    bottom: 0;
    height: 4px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
  }
  .chrome-tabs-optional-shadow-below-bottom-bar {
    position: relative;
    height: 1px;
    width: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1' viewBox='0 0 1 1'><rect x='0' y='0' width='1' height='1' fill='rgba(0, 0, 0, .17)'></rect></svg>");
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% 0%;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .chrome-tabs-optional-shadow-below-bottom-bar {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2'><rect x='0' y='0' width='2' height='1' fill='rgba(0, 0, 0, .27)'></rect></svg>");
    }
  }
  
  
  
  .urlContainer {
    width: 100%;
    background-color: #222;
    color: #FFF;
    height: 50px;
    top: 0;
  }
  
  .frameThing {
    background-color: #222;
    border: hidden;
    border-style: hidden  ;
  }
  
  
  .browserFrame {
    bottom: 0;
    left: 0;
    right: 0;
    height:calc(100% - 50px);
    width: 100%; 
  }
  
  #createTab {
    color: #FFF;
    outline: none;
    height: 30px;
    margin-top: 5px;
    float: right;
    font-size: 20px;
    transition: 0.3s;
  }
  
  #createTab:hover {
    color: #e04c4c;
  }

/* chrome-tabs-dark-theme.css */

.chrome-tabs.chrome-tabs-dark-theme {
    background: #202124;
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-dividers::before,
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-dividers::after {
    background: #4a4d51;
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-background > svg .chrome-tab-geometry {
    fill: #292b2e;
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry {
    fill: #323639;
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-title {
    color: #9ca1a7;
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab[active] .chrome-tab-title {
    color: #f1f3f4;
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-close {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(154, 160, 166, .8)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-close:hover {
    background-color: #5f6368;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .7)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-close:hover:active {
    background-color: #80868b;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .9)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
  }
  .chrome-tabs.chrome-tabs-dark-theme .chrome-tabs-bottom-bar {
    background: #323639;
  }

/* demo.css */

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f1f3f4;
    overflow-y: hidden;
  }
  
  html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  html.dark-theme {
    background: #1c1c1c;
  }
  
  .pointer {
    cursor: pointer;
  }
  .surface {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  @media (min-width: 100%) {
    .surface {
      padding: 60px;
    } 
  
    .mock-browser {
      width: 100%;
      background: #dee1e6;
      border-radius: 8px;
      flex-shrink: 0;
      overflow: hidden;
    }
  
    html.dark-theme .mock-browser {
      background: #202123;
    }
  
    .mock-browser-content {
      position: relative;
      z-index: 1;
      margin-top: -1px;
      display: flex;
    }
  
    .chrome-tabs-optional-shadow-below-bottom-bar {
      z-index: 2;
    }
  
  }
  
  
  @media (max-width: 799px) {
    html {
      background: #fff;
    }
  
    html.dark-theme {
      background: #252729;
    }
  
  
    .mock-browser .chrome-tabs {
      border-radius: 0;
    }
  }
  .aa {
    background-color: #202124;
    width: 100%;
    color: white;
    float: right;
  }
  button {
    font-family: inherit;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    font-size: 12px;
    border-radius: 9999px;
  }
  
  @supports (-webkit-overflow-scrolling: touch) {
    /* Prevent double tap to zoom on iOS https://stackoverflow.com/a/47131647 */
    button {
      touch-action: manipulation;
    }
  }
  
  button:focus {
    border-color: #a9adb0;
    outline: none;
  }
  
  .buttons {
    margin-left: -.5em;
    text-align: center;
  }
  
  .buttons button {
    margin: .5em;
  }
  
  html.dark-theme button {
    -webkit-font-smoothing: antialiased;
    background: transparent;
    color: #fff;
  }
  
  html.dark-theme button:focus {
    border-color: #858b90;
    outline: none;
    border: none; 
  }
  button:active {
    outline: none;
    border: none;
  }
  #createTab {
    border: none;
    position: absolute;
    outline: none;
    top: 0;
    right: 0;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
  }
  .iframething {
  width: 100%;
  height: 92.3%;
  outline: none;
  border: 0;
  overflow-y: hidden;
  }
  .container {
    background: #292b2e;
    display: inline;
  }
  .mock-browser-content {
    background-color: #323639;
    padding: .0em .5em .2em;
    display: flex;
  }
  #urlbar {
    width: 100%;
    border: hidden;
    background: #202124;
    height: 26px;
    outline: none;
    color: white;
    border-radius: 12px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: small;
  
  }
  .extenico {
  width: 24px;
  height: 24px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 4px;
  }
  #urlbutton {
    float: left;
    display: flex;
    outline: none;
    border: 0;
    font-size: large;
  }
  @media only screen and (max-width: 600px) {
    #urlbutton {
      font-size: 9px;
    }
    #createTab {
      padding-right: 4px;
    }
    .iframething {
      height: 89.9%
    }
    }
    @media only screen and (max-width: 400px) {
      .iframething {
        height: 87.9%
      }
    }
  #options {
    float: right;
    outline: none;
    border: 0;
    font-size: large; 
  }
  
  .dropdown-content {
    background-color: #323639;
    display: none;
    right: 0;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }